$color-white:       #FFF;
$color-black:       #000;
$azures-radiance:   #007FEB;
$anikwa:            #A8D7FF;
$malibu:            #5AB0FA;
// Interface Colours
$manatee:           #8f8fa7;
$jumbo:             #6f6f77;
$paradiso:          #378787;
$keppel:            #47a79f;
// Background Colours
$alabaster:         #f8f8f8;
$celery:            #97c85f;
$spray:             #77d0f0;

// Button colours
$cerulean:            #00AAF2;
$azure-radiance:      #0285E3;
$endeavour:           #0065AD;
$prussian-blue:       #002A47;
//Pokemon type colours
$selective-yellow:  #FFB300; // Fire
$robins-egg-blue:   #00BDD6; // Water
$aquamarine:        #6EF8FF; // Electric
$japanese-laurel:   #0C851A; // Grass
$morning-glory:     #A2D3DE; // Ice
$guardsman-red:     #CC0000; // Fighting
$purple:            #6600CC; // Poison
$raw-umber:         #804B13; // Ground
$bright-turquoise:  #00DCF5; // Flying
$fushia:            #FF00EA; // Psychic
$limeade:           #37AB02; // Bug
$gray:              #808080; // Rock
$eminence:          #5B3175; // Ghost
$valencia:          #D93D44; // Dragon
$mirage:            #1C1A33; // Dark
$gray-suit:         #C8C7D1; // Steel
$mauve:             #FBA8FF; // Fairy