@font-face {
  font-family: 'poke-icons';
  src:    url('/fonts/poke-icons.eot?1c0iqf');
  src:    url('/fonts/poke-icons.eot?1c0iqf#iefix') format('embedded-opentype'),
  url('/fonts/poke-icons.ttf?1c0iqf') format('truetype'),
  url('/fonts/poke-icons.woff?1c0iqf') format('woff'),
  url('/fonts/poke-icons.svg?1c0iqf#poke-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='poke-icon'], [class*=' poke-icon'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'poke-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.poke-icon-berry:before {
  content: '\e912';
}
.poke-icon-strain:before {
  content: '\e913';
}
.poke-icon-fairy:before {
  content: '\e907';
}
.poke-icon-flying:before {
  content: '\e908';
}
.poke-icon-ghost:before {
  content: '\e90b';
}
.poke-icon-ice:before {
  content: '\e90d';
}
.poke-icon-steel:before {
  content: '\e919';
}
.poke-icon-pokeball-open:before {
  content: '\e910';
}
.poke-icon-pokeball-out:before {
  content: '\e911';
}
.poke-icon-poison:before {
  content: '\e90f';
}
.poke-icon-rock:before {
  content: '\e90c';
}
.poke-icon-dragon:before {
  content: '\e902';
}
.poke-icon-pokeball:before {
  content: '\e900';
}
.poke-icon-dark:before {
  content: '\e90a';
}
.poke-icon-bug:before {
  content: '\f091';
}
.poke-icon-fire:before {
  content: '\f0d2';
}
.poke-icon-water:before {
  content: '\e901';
}
.poke-icon-normal:before {
  content: '\e90e';
}
.poke-icon-electric:before {
  content: '\e903';
}
.poke-icon-ground:before {
  content: '\e909';
}
.poke-icon-grass:before {
  content: '\e904';
}
.poke-icon-psychic:before {
  content: '\e905';
}
.poke-icon-fighting:before {
  content: '\e906';
}