[override] osb-pocket-poke {
  .pokeEvol {
    border-top: 1px solid $color-black;

    li {
      h3, h4, h5 {
        margin-top: 0;
      }

      h3, h4 {
        margin-top: 15px;
      }

      h5 {
        margin-top: 40px;
      }

      p {
        display: block;
        margin: 0 !important;
      }
    }
  }
}