[override] osb-pocket-poke {
  .pokeLocations {
    li {
      h3, h4 {
        margin: 10px;
      }
    }

    .pokeListItem {
      p {
        padding: 0 10px;
      }
    }
    
    .fa-map-marker {
      color: $guardsman-red;
    }

    .locations-list {
      list-style-type: disc;
      margin-bottom: 20px;
    }
  }
}