<main class="osb-pocket-poke-holder">
    <header class="container">
        <nav>
            <ul class="list-unstyled list-inline">
                <li><button class="btn btn-primary" (click)="navHidden = !navHidden"><i class="fa fa-bars"></i></button></li>
                <li *ngIf="!navHidden" [ngClass]="{'active' : sectionDisplay == 'pokemon'}"><button class="btn btn-primary" (click)="getSectionList('pokemon', 1)"><i class="poke-icon poke-icon-pokeball-open"></i> Pokémon</button></li>
                <li *ngIf="!navHidden" [ngClass]="{'active' : sectionDisplay == 'evolutions'}"><button class="btn btn-primary" (click)="getSectionList('evolutions', 1)"><i class="poke-icon poke-icon-strain"></i> Evolutions</button></li>
                <li *ngIf="!navHidden" [ngClass]="{'active' : sectionDisplay == 'locations'}"><button class="btn btn-primary" (click)="getSectionList('locations', 1)"><i class="fa fa-map-marker"></i> Locations</button></li>
                <li *ngIf="!navHidden" [ngClass]="{'active' : sectionDisplay == 'berries'}"><button class="btn btn-primary" (click)="getSectionList('berries', 1)"><i class="poke-icon poke-icon-berry"></i> Berries</button></li>
                <li *ngIf="!navHidden"><button class="btn btn-primary"><i class="fa fa-search"></i> Search</button></li>
                <li (click)="navHidden = !navHidden"><i class="navToggle fa" [ngClass]="{'fa-angle-right' : navHidden, 'fa-angle-left' : !navHidden}"></i></li>
                <li><h1><i class="poke-icon poke-icon-pokeball"></i> PocketPoké</h1></li>
            </ul>
        </nav>
    </header>
    <section *ngIf="pokemon.length > 1 && sectionDisplay === 'pokemon'" class="pokeDex">
        <ul class="pokeList list-unstyled">
            <li *ngFor="let poke of pokemon" class="pokeListItem">
                <div id="sprite-{{poke.name}}" class="img-holder text-center">
                    <div *ngIf="!poke.showFemale">
                        <img *ngIf="!poke.showBack" src="{{poke.sprites.front_default}}" alt="{{poke.name}}" title="{{poke.name}}" />
                        <img *ngIf="poke.showBack" src="{{poke.sprites.back_default}}" alt="{{poke.name}}" title="{{poke.name}}" />
                        <div (click)="poke.showBack = true" *ngIf="!poke.showBack" class="spriteBackBtn"><i class="fa fa-chevron-right"></i></div>
                        <div (click)="poke.showBack = false" *ngIf="poke.showBack" class="spriteFrontBtn"><i class="fa fa-chevron-left"></i></div>
                    </div>
                    <div *ngIf="poke.showFemale">
                        <img *ngIf="!poke.showFemBack" src="{{poke.sprites.front_female}}" alt="{{poke.name}}" title="{{poke.name}}" />
                        <img *ngIf="poke.showFemBack" src="{{poke.sprites.back_female}}" alt="{{poke.name}}" title="{{poke.name}}" />
                        <div (click)="poke.showFemBack = true" *ngIf="!poke.showFemBack" class="spriteBackBtn"><i class="fa fa-chevron-right"></i></div>
                        <div (click)="poke.showFemBack = false" *ngIf="poke.showFemBack" class="spriteFrontBtn"><i class="fa fa-chevron-left"></i></div>
                    </div>
                    <div (click)="poke.showFemale = !poke.showFemale" *ngIf="poke.sprites.front_female" class="sexToggle" [ngClass]="{'male' : poke.showFemale, 'female' : !poke.showFemale}">
                        <i class="fa" [ngClass]="{'fa-female' : !poke.showFemale, 'fa-male' : poke.showFemale}"></i>
                    </div>
                    <div  *ngIf="poke.sprites.front_female" class="shinyToggle">
                        <i class="fa fa-diamond"></i> <span>Shiny</span>
                    </div>
                    <div class="typeHolder">
                        <div *ngFor="let type of poke.types" class="typeIcon type-{{type.type.name}}" title="Type: {{type.type.name}}">
                            <i class="poke-icon poke-icon-{{type.type.name}}"></i>
                        </div>
                    </div>
                    <div class="spriteBg"></div>
                </div>
                <h2>{{ poke.name }}
                    <span title="More info" (click)="showOverlay('pokemon', poke)">
                        <i class="fa fa-info-circle"></i>
                    </span>
                    <span class="pull-right pokeball-holder" title="Capture Pokémon" (click)="capturePokemon(poke)">
                        <i class="poke-icon poke-icon-pokeball-open"></i>
                        <span class="top-half"></span>
                        <span class="bottom-half"></span>
                        <span class="center"></span>
                    </span>
                </h2>
                <p><strong>Height:</strong> {{ poke.height }} | <strong>Weight:</strong> {{ poke.weight }} | <strong>Base XP:</strong> {{ poke.base_experience }}</p>
            </li>
            <li class="pokeListItem">
                <div id="loading-trigger" class="img-holder text-center">
                    <div class="spriteBg"></div>
                </div>
                <h2>Loading...</h2>
            </li>
        </ul>
    </section>
    <section *ngIf="locations.length > 1 && sectionDisplay === 'locations'" class="pokeEvol pokeLocations">
        <ul class="pokeList list-unstyled">
            <li *ngFor="let location of locations" class="pokeListItem">
                <h3><i class="fa fa-map-marker"></i> {{ location.name }}</h3>
                <p>Region: {{ location.region.name }}</p>
                <h4 (click)="location.areasHidden = !location.areasHidden">Areas: <span class="pull-right"><i class="fa" [ngClass]="{'fa-angle-down' : !location.areasHidden, 'fa-angle-up' : location.areasHidden}"></i></span></h4>
                <ul *ngIf="location.areasHidden" class="locations-list">
                    <li *ngFor="let area of location.areas">{{ area.name }}</li>
                </ul>
            </li>
            <li class="pokeListItem">
                <div id="locations-loading-trigger" class="img-holder text-center"></div>
                <h2>Loading...</h2>
            </li>
        </ul>
    </section>
    <section *ngIf="evolutions.length > 1 && sectionDisplay === 'evolutions'" class="pokeEvol">
        <ul class="pokeList list-unstyled">
            <li *ngFor="let evolution of evolutions" class="text-center pokeListItem">
                <article class="chain">
                    <div class="col-md-4 text-right">
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ evolution.chain.species.url.split('/')[6] }}.png" />
                    </div>
                    <div class="col-md-8 text-left">
                        <h5>{{ evolution.chain.species.name }}</h5>
                    </div>
                    <div class="col-md-12"><i class="fa fa-angle-down"></i></div>
                    <div *ngIf="evolution.chain.evolves_to[0]">
                        <div class="col-md-4 text-right">
                            <img *ngIf="evolution.chain.evolves_to[0].species" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ evolution.chain.evolves_to[0].species.url.split('/')[6] }}.png" />
                        </div>
                        <div class="col-md-8 text-left">
                            <h4 *ngIf="evolution.chain.evolves_to[0].species">{{ evolution.chain.evolves_to[0].species.name }}</h4>
                            <p *ngIf="evolution.chain.evolves_to[0].evolution_details[0].trigger">Trigger = {{ evolution.chain.evolves_to[0].evolution_details[0].trigger.name }}</p>
                            <p>
                                <span *ngIf="evolution.chain.evolves_to[0].evolution_details[0].min_level">Min-Level = {{ evolution.chain.evolves_to[0].evolution_details[0].min_level }}</span>
                                <span *ngIf="evolution.chain.evolves_to[0].evolution_details[0].min_happiness">Min-Happiness = {{ evolution.chain.evolves_to[0].evolution_details[0].min_happiness }}</span>
                                <span *ngIf="evolution.chain.evolves_to[0].evolution_details[0].min_beauty">Min-Beauty = {{ evolution.chain.evolves_to[0].evolution_details[0].min_beauty }}</span>
                            </p>
                        </div>
                        <div *ngIf="evolution.chain.evolves_to[0].evolves_to[0]" class="col-md-12"><i class="fa fa-angle-down"></i></div>
                        <div class="col-md-4 text-right">
                            <img *ngIf="evolution.chain.evolves_to[0].evolves_to[0]" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ evolution.chain.evolves_to[0].evolves_to[0].species.url.split('/')[6] }}.png" />
                        </div>
                        <div class="col-md-8 text-left">
                            <h3 *ngIf="evolution.chain.evolves_to[0].evolves_to[0]">{{ evolution.chain.evolves_to[0].evolves_to[0].species.name }}</h3>
                            <p *ngIf="evolution.chain.evolves_to[0].evolves_to[0]">Trigger = {{ evolution.chain.evolves_to[0].evolves_to[0].evolution_details[0].trigger.name }}</p>
                            <p *ngIf="evolution.chain.evolves_to[0].evolves_to[0]">
                                <span *ngIf="evolution.chain.evolves_to[0].evolves_to[0].evolution_details[0].min_level">Min-Level = {{ evolution.chain.evolves_to[0].evolves_to[0].evolution_details[0].min_level }}</span>
                                <span *ngIf="evolution.chain.evolves_to[0].evolves_to[0].evolution_details[0].min_happiness">Min-Happiness = {{ evolution.chain.evolves_to[0].evolves_to[0].evolution_details[0].min_happiness }}</span>
                                <span *ngIf="evolution.chain.evolves_to[0].evolves_to[0].evolution_details[0].min_beauty">Min-Beauty = {{ evolution.chain.evolves_to[0].evolves_to[0].evolution_details[0].min_beauty }}</span>
                            </p>
                        </div>
                    </div>
                </article>
            </li>
            <li class="pokeListItem">
                <div id="evolutions-loading-trigger" class="img-holder text-center">
                    <div class="spriteBg"></div>
                </div>
                <h2>Loading...</h2>
            </li>
        </ul>
    </section>
    <section *ngIf="berries.length > 1 && sectionDisplay === 'berries'" class="pokeDex pokeBerries">
        <ul class="pokeList list-unstyled">
            <li *ngFor="let berry of berries" class="pokeListItem">
                <h3 class="text-center">{{ berry.name }}</h3>
                <div class="col-md-8">
                    <h4 (click)="berry.statsHidden = !berry.statsHidden">Stats <i class="fa pull-right" [ngClass]="{'fa-chevron-down' : !berry.statsHidden, 'fa-chevron-up' : berry.statsHidden}"></i></h4>
                    <ul class="list-unstyled" *ngIf="berry.statsHidden">
                        <li>Size: {{ berry.size }}</li>
                        <li>Max Harvest: {{ berry.max_harvest }}</li>
                        <li>Firmness: {{ berry.firmness.name }}</li>
                        <li>Smoothness: {{ berry.smoothness }}</li>
                        <li>Soil Dryness: {{ berry.soil_dryness }}</li>
                        <li>Growth Time: {{ berry.growth_time }}</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 (click)="berry.flavorHidden = !berry.flavorHidden">Flavours <i class="fa pull-right" [ngClass]="{'fa-chevron-down' : !berry.flavorHidden, 'fa-chevron-up' : berry.flavorHidden}"></i></h4>
                    <ul class="list-unstyled" *ngIf="berry.flavorHidden">
                        <li *ngFor="let flavor of berry.flavors">
                            {{ flavor.flavor.name }} <span>{{ flavor.potency }}</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h4>Natural Gift </h4>
                    <div class="typeHolder">
                        <div class="typeIcon type-{{berry.natural_gift_type.name}}" title="Type: {{berry.natural_gift_type.name}}">
                            <i class="poke-icon poke-icon-{{berry.natural_gift_type.name}}"></i>
                        </div>
                    </div>
                    Power: {{berry.natural_gift_power}}
                </div>
            </li>
            <li class="pokeListItem">
                <div id="berries-loading-trigger" class="img-holder text-center">
                    <div class="spriteBg"></div>
                </div>
                <h2>Loading...</h2>
            </li>
        </ul>
    </section>
    <section *ngIf="overlayShowing" class="pokeOverlay container">
        <article class="col-md-8 col-md-offset-2">
            <div class="close-btn" (click)="hideOverlay()">
                <i class="fa fa-close"></i>
            </div>
            <div *ngIf="overlayContent && overlayType == 'pokemon'">
                <h1><img src="{{overlayContent.sprites.front_default}}" alt="{{overlayContent.name}}" title="{{overlayContent.name}}" /> {{ overlayContent.name }}</h1>
                <div class="typeHolder">
                    <div *ngFor="let type of overlayContent.types" class="typeIcon type-{{type.type.name}}" title="Type: {{type.type.name}}">
                        <i class="poke-icon poke-icon-{{type.type.name}}"></i>
                    </div>
                </div>
                <p class="base-stats"><strong>Height:</strong> {{ overlayContent.height }} | <strong>Weight:</strong> {{ overlayContent.weight }} | <strong>Base XP:</strong> {{ overlayContent.base_experience }}</p>
                <h4 (click)="overlayContent.statsVisible = !overlayContent.statsVisible" class="details">Attributes <i class="fa pull-right" [ngClass]="{'fa-chevron-down' : !overlayContent.statsVisible, 'fa-chevron-up' : overlayContent.statsVisible}"></i></h4>
                <ul class="list-unstyled details-list" [hidden]="!overlayContent.statsVisible">
                    <li *ngFor="let stats of overlayContent.stats">
                        <p><strong>{{stats.stat.name}}</strong> <span class="pull-right">{{stats.base_stat}}</span></p>
                    </li>
                </ul>
                <h4 (click)="overlayContent.abilitiesVisible = !overlayContent.abilitiesVisible" class="details">Abilities <i class="fa pull-right" [ngClass]="{'fa-chevron-down' : !overlayContent.abilitiesVisible, 'fa-chevron-up' : overlayContent.abilitiesVisible}"></i></h4>
                <ul class="list-unstyled details-list" [hidden]="!overlayContent.abilitiesVisible">
                    <li *ngFor="let ability of overlayContent.abilities">
                        <p><strong>{{ability.ability.name}}</strong> <i class="fa fa-info-circle pull-right"></i></p>
                        <p class="{{ability.ability.name}}-ability-detail"></p>
                    </li>
                </ul>
                <h4 (click)="overlayContent.movesVisible = !overlayContent.movesVisible">Moves <i class="fa pull-right" [ngClass]="{'fa-chevron-down' : !overlayContent.movesVisible, 'fa-chevron-up' : overlayContent.movesVisible}"></i></h4>
                <ul class="list-unstyled list-inline details-list moves" [hidden]="!overlayContent.movesVisible">
                    <li *ngFor="let move of overlayContent.moves">
                        <p><i class="fa fa-star"></i> {{move.move.name}}</p>
                    </li>
                </ul>
            </div>
        </article>
    </section>
    <!--<section>
        <div>
            <i class="fa fa-spinner fa-spin"></i> Loading...
        </div>
    </section>-->
</main>
